@page "/"
<link rel="stylesheet" href=~/css/site.css />

<PageTitle>Strona główna</PageTitle>

<h1>Wirtualna biblioteka</h1>

<h2>Witamy w naszej bibliotece!</h2>
<h3>Na tym portalu możesz zapoznać się z aktualna ofertą naszej biblioteki.</h3>

<div class="obraz">
<img src="/img/ksiazki.jpg" />
</div>

  


